

<h2>@ViewBag.Title</h2>
<p>
    The @ViewBag.Title has been created.  Try logging in with the following accounts:
</p>

<p>
    The HomeOwner account has full privleges.  It can Create, Edit, and Delete records.<br/>
    <b>Username:</b> HomeOwner<br/>
    <b>Password:</b> password<br/>
    
</p>

<p>
    The "Friend" account has read-only privleges.  It cannot create or edit assets.<br />
    <b>Username:</b> Friend<br />
    <b>Password:</b> password<br />

    
</p>

<h2>Click @Html.ActionLink("HERE", "Index", "InventoryManager") to begin</h2>
