@{
    ViewBag.Title = "Inventory Management";
}

<h2>@ViewBag.Message</h2>

<p>
    Try logging in with the following accounts:
</p>

<p>
    The HomeOwner account has full privleges.  It can Create, Edit, and Delete records.<br />
    <b>Username:</b> HomeOwner<br />
    <b>Password:</b> password<br />

</p>

<p>
    The "Friend" account has read-only privleges.  It cannot create or edit assets.<br />
    <b>Username:</b> Friend<br />
    <b>Password:</b> password<br />


</p>

<p>
    Please click  <a href="/InventoryManager" title="Launch Inventory Management">here</a> to launch the management system.
</p>



<div id="dialog-confirm" title="Welcome!">
    <p><span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 20px 0;"></span>To fully explore this product, please use Username "HomeOwner" and password "password"</p>
</div>

<script>
    $(function () {
        var $dlgSelectDB = $("#dialog-confirm").dialog({
            resizable: true,
            width: 600,
            show: {
                effect: "blind",
                duration: 1000
            },
            
            modal: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                }
                


            }
        }).dialog("dlgSelectDB");
    });
</script>
