@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="/InventoryManager" title="Launch Inventory Management">http://Localhost:YourPort/InventoryManager</a>.
</p>
